*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Bodoni Moda', serif;
font-size: 1.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right,#041308,#0b3317);
}
.left-text{
    flex-basis: 30%;

}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.subheading{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}
.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    grid-auto-rows: 120px;
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
}
.row2{
    grid-row: span 2;
}
.col2{
    grid-column: span 2;
}
.box:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px white;
    cursor: pointer;

}
#box1{
    background-image: url(https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXJmYWxsfGVufDB8fDB8fHww&auto=format&fit=crop&w=1000&q=60);
}
#box2{
    background-image: url(https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGlsbHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60);
}
#box3{
    background-image: url(https://images.unsplash.com/photo-1513553404607-988bf2703777?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2NlYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60);
}
#box4{
    background-image: url(https://images.unsplash.com/photo-1515694346937-94d85e41e6f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmFpbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=1000&q=60);
}
#box5{
    background-image: url(https://images.unsplash.com/photo-1693886225430-e2d74412fc66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFvdXRhaW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60);
}
#box6{
    background-image: url(https://images.unsplash.com/photo-1599940824399-b87987ceb72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJlZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60bea);
}
#box7{
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60);
}